/target
dist/index-541aedfeebbd27d1_bg.wasm
dist/index-541aedfeebbd27d1.js
dist/index-f2b0d69a942d1ba5_bg.wasm
dist/index-f2b0d69a942d1ba5.js
dist/index.html
dist/output-64861902dc410eb2.css
dist/output-de69878815e1f2ff.css
